/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}


/* Common */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Utilities  */
.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-items-c {
  align-items: center;
}

.centering {
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.gap-50px {
  gap: 50px;
}

.gap-10px {
  gap: 10px;
}

.inline-block {
  display: inline-block;
}

.a-inherit-color {
  color: inherit;
  text-decoration: none;
}

.mrg-t-b-30px {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mrg-b-20px {
  margin-bottom: 20px;
}

.mrg-b-50px {
  margin-bottom: 50px;
}

.mrg-b-130px {
  margin-bottom: 130px;
}

.mrg-r-30px {
  margin-right: 30px;
}

.secondary-title {
  font-size: 2.5rem;
  margin-bottom: 70px;
}

.btn {
  background-color: #0061FF;
  color: white;
  padding: 10px 20px;
  transition: opacity 0.15;
}

.btn:hover,
.btn-piano-b:hover {
  opacity: 0.7;
}


.btn-piano-b {
  display: block;
  background-color: #0061FF;
  color: white;
  text-align: center;
  padding: 10px 0;
  transition: opacity 0.15;
}

.btn-white {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: background-color 0.15s, color 0.15;
}

.btn-white:hover {
  background-color: #0061FF;
  color: white;
}

.border-grey {
  border: 1px solid grey;
}

.border-bottom-grey {
  border-bottom: 1px solid grey;
}

.check {
  color: #0364FF;
}

/* Layout  */
.container-big {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}

.container-small {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.col {
  width: calc(100% / 3);
}

.col-dropbox-business {
  width: calc(100% / 3 - 150px / 3);

}

/* Header  */
.header {
  height: 100px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 9999;
}

.logo-img {
  width: 200px;
}

.header-list {
  font-size: 1.4rem;
  color: #6D6D6D;
}

.header-list ul li {
  padding: 20px 0;
  transition: color 0.15s, border-bottom 0.15s, padding 0.15s;
}

.header-list ul li:hover{
  color: #6c1c1c;
  border-bottom: 2px solid rgb(5, 121, 222);
  padding: 16px 0;
}


/* .Main  */
main {
  padding: 100px 0 20px;
}

/* Hero  */
.hero {
  background-color: #B4D0E7;
  padding: 60px 0;
}

.hero-title {
  font-size: 6rem;
  margin-bottom: 60px;
}

.hero-body-left {
  width: 30%;
  font-size: 1.2rem;
}

.hero-body-right {
  position: relative;
  width: 70%;
}

.hero-img {
  position: absolute;
  left: 0;
  top: 10px;
}

.arrow-icon {
  font-size: 5rem;
}

/* Piano business  */
.piano-business {
  padding-top: 250px;
}

.radio {
  font-size: 1.2rem;
  margin-bottom: 50px;
}

.piano-b-middle {
  flex-grow: 1;
  margin-bottom: 80px;
}

.col-header-p-b {
  font-size: 1.2rem;
  padding: 15px 0;
}

.col-body-p-b,
.box-team-big,
.team-body .col {
  padding: 40px;
}

.col-p-b-title {
  font-size: 2rem;
}

.col-list,
.col-list-secondary {
  margin-bottom: 50px;
}

.col-list li,
.col-list-secondary li{
  margin-bottom: 20px;
}

.price {
  margin-bottom: 10px;
  font-weight: bold;
}

.date {
  color: grey;
  margin-bottom: 50px;
}

.col-body-p-b .btn-piano-b {
  margin-bottom: 50px;
}

.hr-piano-business {
  width: 40px;
}

.box-team-big {
  width: 67%;
}

/* Partner  */
.partner {
  /* debug */
  padding: 60px 0;
}

.partner-box-60 {
  width: 60%;
}

.partner-box-40 {
  padding: 60px;
  width: 40%;
}

/* Dropbox business  */
.dropbox-business {
  /* debug */
  padding: 60px 0;
}

/* Users-use-dropbox */
.users-use-dropbox {
  /* debug */
  padding: 60px 0;
}

.users-use-dropbox-section h2.secondary-title {
  max-width: 700px;
  line-height: 60px;
}

/* Logos  */
.big-square {
  width: calc(100% / 3);
  aspect-ratio: 1;
}

div.big-square.bg-light-grey {
  padding: 50px;
}

.mini-square {
  width: 50%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-img {
  width: 200px;
  filter: invert(100%) sepia(0%) saturate(29%) hue-rotate(87deg) brightness(108%) contrast(106%);
}

/* LOGOS Background Color */
.bg-dark-green {
  background-color: #A2D39B;
  border: 15px solid #D1E9CD;
}

.bg-brown {
  background-color: #61082B;
}

.bg-sky-blue {
  background-color: #0093CE;
}

.bg-light-red {
  background-color: #FF1C1C;
}

.bg-light-grey {
  background: #F5F5F5;
}

.bg-dark-red {
  background-color: #D5001F;
}

.bg-light-blue {
  background-color: #B4D0E7;
}

.bg-dark-blue {
  background-color: #0D2481;
}

.bg-yellow {
  background-color: #FFD830;
}

/* Call-to-action  */
.call-to-action {
  background-color: #B4D0E7;
  /* debug */
  padding: 60px 0;
}

.call-to-action-section h3 {
  font-size: 2.5rem;
  color: #610A2E;
  max-width: 500px;
  line-height: 60px;
}

.call-to-action-section div.col {
  padding-top: 15px;
}

/* frequent ask questions  */
.faq {
  /* debug */
  padding: 60px 0;
}

.frequent-questions-section h3 {
  border-bottom: 2px solid grey;
  padding: 50px 0;
}

.questions-answers {
  padding: 40px 0;
  border-bottom: 1px solid grey;
  transition: opacity 0.15;
}

.questions-answers:hover .answers {
  opacity: 1;
}

.requests {
  font-size: 1.2rem;
  font-weight: 800;
  padding-bottom: 20px
}

.answers {
  opacity: 0;
}

/* Footer  */
#footer {
  color: #ffffff;

  /* debug */
  background-color: black;
  padding: 60px 0;
}

.footer-list ul li {
  padding-bottom: 20px;
  transition: color 0.15s, text-decoration 0.15;
  cursor: pointer;
}

.footer-list ul li:hover {
  color: rgb(165, 165, 165);
  text-decoration: underline;
}

.footer-list h5 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}